<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %>, </h3>
    <p>Order has been successfully Placed</p>
    <p>Thanks for using our product and have a great day!</p>
  </body>
</html>
