<article>
  <section class ="Section">
    <h2 class="section-title"> <%= "#{t("header.welcome")} #{current_user.first_name}!" %></h2>
  </section>
  <table class="section-table">
    <% @users.each do |user| %>
      <tr class="Section_Products  purple-text">
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td class ="red-Text pointer"  >login-as(<%= user.first_name %>)</td>
      </tr>
    <% end %>
  </table>
</article>
